@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.condensed {
  font-family: "Roboto Condensed", sans-serif;
}

section.landing {
  position: relative;
  background-image: url(../assets/images/bg-image.jpg);
  background-size: cover;
  background-position: center;
}

section.landing::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.568);
}

.contact-section {
  position: relative;
  background-image: url(../assets/images/contact-bg.jpg);
  background-size: cover;
  background-position: center;
}

.contact-section::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #250724bb;
}